@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap");

:root {
  --primary-color: #116d42;
  --secondary-color: #f4c687;
  --body-color: #2f2f2f;
  --lightgray: #f5f5f5;
  --lightgreen: #fafff9;
  --josefin: "Josefin Sans", sans-serif;
  --facebook: #4267B2;
  --twitter: #00acee;
  --linkedin: #0e76a8;
  --youtube: #FF0000;
  --whatsapp: #25D366;
  --instagram: #c92bb7;
}

body {
  color: var(--body-color);
  font: 400 1rem "Open Sans", sans-serif;
  overflow-x: hidden;
}

ul {
  padding-left: 0;
  margin-bottom: 0;
}

a{
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
  color: var(--primary-color);
}

p a{
  text-decoration: underline;
  color: var(--primary-color);
}

img {
  width: 100%;
  display: block;
}

.font-weight-bolder{
  font-weight: 800 !important;
}

.bg-green-gradient {
  background-image: linear-gradient(45deg, var(--primary-color),var(--secondary-color));
}
.bg-radial-gradient{
  background-image: radial-gradient(circle at 50% -130%, #2cd283, #0e2920);
}
.bg-secondary {
  background-color: var(--secondary-color) !important;
}
.bg-lightgray {
  background-color: var(--lightgray) !important;
}
.bg-lightgreen {
  background-color: var(--lightgreen) !important;
}
.bg-darkgreen {
  background-color: #0f4a30 !important;
}

.bg-primary {
  background-color: var(--primary-color) !important;
  color: #fff;
}
.bg-dark {
  background: var(--body-color) !important;
}

.bg-green-gradient-box{
  background: linear-gradient(to bottom right, #f0fff7, #fafff9) !important;
  box-shadow: 3px 3px 3px #e4f0ea, -3px -3px 3px #fafff9 !important;
}
.bg-gray-gradient-box{
  background: linear-gradient(to bottom right, #eff0f3, #ffffff) !important;
  box-shadow: 3px 3px 3px #e8e6e6, -3px -3px 3px #fff !important;
}

.bg-image {
  background: center / cover no-repeat fixed;
  position: relative;
  /* z-index: 1; */
  overflow: hidden;
}

.bg-image2 {
  background: center / cover no-repeat fixed;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.bg-image2::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgb(0 0 0 / 75%);
  z-index: -1;
}
.bg-image::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgb(0 0 0 / 75%);
  z-index: -1;
}

p {
  font-weight: 400;
  line-height: 1.6;
}

.form-row{
  margin-left: -10px;
  margin-right: -10px;
}

.form-row>.col, .form-row>[class*=col-] {
  padding-right: 10px;
  padding-left: 10px;
}

.gap-row{
  row-gap: 30px;
}
.gap-form-row{
  row-gap: 20px;
}

.padding {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.container-fluid{
  padding-left: 40px;
  padding-right: 40px;
}
.object-cover{object-fit: cover;}
.object-position-bottom{
  object-position: bottom;
}

.border-green{
  border: 1px solid var(--primary-color) !important;
}

.text-instagram{
  color: var(--instagram);
}
.text-youtube{
  color: var(--youtube);
}

.text-primary {
  color: var(--primary-color) !important;
}
.text-secondary {
  color: var(--secondary-color) !important;
}
.text-gradient {
  color: transparent;
  background-image: linear-gradient(10deg, #ab8d55, #e3d5b0);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-texture{
  background-image: url(/public/assets/images/text-texture.jpg);
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.filter-white {
  filter: grayscale(1) brightness(50);
}
.filter-dark {
  filter: grayscale(1) brightness(0);
}




.btn-container, .readmore.d-flex{
  gap: 10px;
}

.readmore {
  width: max-content;
  margin-top: 2.5rem ;
}

.readmore .button {
  display: flex;
  min-width: 120px;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 9px 20px;
  gap: .75rem;
  color: #fff;
  background-color: var(--body-color);
  border: 1px solid transparent;
  /* background-image: radial-gradient(circle, #127f4b, #0e2920); */
  transition: all 300ms ease-in-out;
}

.readmore button{
  border-color: transparent;
}

.readmore.sm .button {
  min-width: 80px;
  padding: 4px 16px;
}

.readmore .button:hover,
.readmore .button.reverse {
  background-color: #fff;
  color: var(--body-color);
  border-color: var(--body-color);
}
.readmore .button.stroke:hover,
.readmore .button.reverse:hover{
  background-color: var(--body-color);
  color: #fff;
}

.readmore .button.stroke{
  background: transparent;
  border: 1px solid var(--primary-color);
  color: var(--body-color);
}

.readmore .button.gray {
  background: #eaeaea;
  background: linear-gradient(to bottom right,#eff0f3,#ffffff);
  box-shadow: 3px 3px 3px #e8e6e6, -3px -3px 3px #fff;
  color: var(--body-color);
}

.readmore .button.gray:hover {
  background: var(--body-color);
  color: #fff;
}

.readmore .button i {
  margin-right: 5px;
}

.readmore .button.hoverOnWhite:hover,
.readmore .button.light{
  background: var(--lightgreen);
  color: var(--body-color);
}
.readmore .button.light:hover{
  background: var(--secondary-color);
}

.readmore .button.onHoverWhite:hover{
  background: #fff;
  color: var(--body-color);
}

.readmore .button.bg-secondary{
  background: var(--secondary-color) !important;
  color: var(--body-color);
}
.readmore .button.bg-green{
  background: linear-gradient(to bottom right,#186242,#1d8053);
  box-shadow: 3px 3px 3px #0e5a38, -3px -3px 3px #24724e;
}

.modal-backdrop.show {
  opacity: 1;
  background: rgba(51 51 51 / 80%);
  backdrop-filter: blur(4px);
}

.modal-content {
  border: 0;
  background: var(--body-color);
  box-shadow: 0 8px 32px 0 rgba(0 0 0 / 20%);
  padding: 20px;
}

.modal-header{
  background: none;
  padding: 0 0 16px;
  margin-bottom: 20px;
  justify-content: center;
  border-bottom: 1px dashed rgb(255 255 255 / 10%);
}

.modal-header h6{
  font-size: 20px;
}

button.close {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  text-align: center;
  border-radius: 50%;
  background-color: var(--primary-color);
  border: none;
  color: #fff;
  opacity: 1;
  text-shadow: none;
  z-index: 1;
  transition: all 300ms ease-in-out;
}

.close:not(:disabled):not(.disabled):focus,
.close:not(:disabled):not(.disabled):hover {
  opacity: 1;
  background-color: rgb(251, 116, 116);
}

.modal-body {
  padding: 0;
}

.form-group {
  margin-bottom: 10px;
}

label {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 500;
  margin-left: 11px;
}

.form-control {
  font-size: 14px;
  padding: 12px;
  height: auto;
  background-color: #f5f5f5;
  color: #000;
  border: none;
  border-radius: 0;
  border-bottom: 2px solid rgba(0 0 0 / 10%);
  transition: all 300ms ease;
}

.form-control:focus {
  background-color: #fff;
  border-bottom-color: var(--primary-color);
  box-shadow: none;
}

.form-control-white{
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  color: #ffffff;
}

.form-control-white::placeholder,
.form-control-white:focus {
  color: rgb(255 255 255 / 70%);
}

textarea.form-control {
  resize: none;
}

select.form-control{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(/public/assets/images/icons/arrow-down.svg) calc(100% - 5px) center / 8px no-repeat;
}
select::-ms-expand {
  display: none;
}

.custom-control-label::before,.custom-control-label::after{
  top: 1px;
}

.form-group.custom-control label{
  font-size: 13px;
}

.btn-group-toggle .btn{
  font-size: 14px;
  height: auto;
  border-radius: 8px;
  flex: 1 0 0;
  border-color: rgb(255 255 255 / 30%) !important;
}

.modal-body .form-control {
  margin: 0;
}

.object-fit-cover {
  object-fit: cover;
}

.heading-container, .heading-container .d-flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.heading-container{
  margin-bottom: 20px;
}
.heading-container.has-controls{
  padding: 3px 15px;
}

.heading-container .d-flex{
  gap: 1rem;
}

.heading {
  display: table;
  margin-bottom: 20px;
}

.headinh h1, .heading h2,.heading h3, .heading h4, .heading h5, .heading h6, .heading .h1, .heading .h2,.heading .h3, .heading .h4, .heading .h5, .heading .h6 {
  margin-bottom: 0;
  font-weight: 700;
  letter-spacing: 1px;
}
.heading h6 {letter-spacing: normal;}

.toggleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-bottom: 1.5rem;
}

.toggleContainer .button.active{
  color: #fff;
  background-image: radial-gradient(circle, #127f4b, #0e2920);
}

/* Custom Scroll */
.scroller {
  overflow: auto;
}

.scroller::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.scroller::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #292929;
}

/* Handle */
.scroller::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}

/* Handle on hover */
.scroller::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color);
}
/* Custom Scroll */

/* Custom swiper */
.swiper-pagination{
  padding: 5px 10px;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgb(0 0 0 / 20%);
  width: fit-content !important;
  left: 50% !important;
  transform: translateX(-50%);
  font-size: 12px;
}
.swiper-pagination-bullet {
  background-color: #000;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background-color: var(--primary-color);
  transform: scale(1.5);
}

.swiper-button-next, .swiper-button-prev{
  width: 30px !important;
  height: 30px !important;
  margin-top: -15px ;
  transition: all 300ms ease-in-out;
  overflow: hidden;
  background-color: var(--body-color);
  border-radius: 0;
  color: #fff;
}

.swiper-button-next:hover, .swiper-button-prev:hover{
  background-color: var(--primary-color);
  box-shadow: 0 10px 30px rgb(0 0 0 / 15%);
}

.swiper-button-next:after, .swiper-button-prev:after{
  font-size: .75rem !important;
  line-height: normal;
}
.swiper-button-next.bg-white, .swiper-button-prev.bg-white{
  color: var(--body-color) !important;
}
.swiper-button-next.bg-white:hover, .swiper-button-prev.bg-white:hover{
  color: #fff !important;
  background-color: var(--primary-color) !important;
}

.project-slider .swiper-button-next, .project-slider  .swiper-rtl .swiper-button-prev{
  right: 10%;
}

.project-slider .swiper-button-prev, .project-slider  .swiper-rtl .swiper-button-next{
  left: 10%;
}

.swiper-controls{
  position: relative;
  margin-top: 1.5rem;
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 6px;
}

.swiper-controls div[class^="swiper-button"]{
  position: static;
  margin-top: 0;
}
/* Custom swiper */


.viewall{
  margin-right: 10%;
  margin-left: auto;
  max-width: max-content;
}

.viewall a{
  display: flex;
  align-items: center;
  max-width: max-content;
  color: var(--primary-color);
  font-size: 18px;
}

.viewall a img{
  width: 50px;
}

.viewall a:hover{
  color: var(--secondary-color);
}


.button-top {
  background: var(--primary-color);
  position: fixed;
  cursor: pointer;
  right: 10px;
  bottom: 20px;
  color: #ffffff;
  font-size: 13px;
  opacity: 0;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all 500ms ease;
  z-index: 99;
}

.button-top:hover {
  background: var(--body-color);
  box-shadow: 0 0 0 1px rgb(255 255 255 / 10%);
}